<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.werk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".telas.Mensagens.Chat"></activity>
        <activity android:name=".telas.Mensagens.Conversas" /> <!-- <activity -->
        <!-- android:name="Home" -->
        <!-- android:label="@string/title_activity_home" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!--  -->
        <activity android:name=".telas.VisitanteActivity" />
        <activity
            android:name=".telas.MenuInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".telas.TelaCadastro" />
        <activity
            android:name=".telas.TelaEntrar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>

        <activity
            android:name=".telas.DescricaoTrabalho" />
        <activity
            android:name=".telas.TelaCadastroTrabalho" />
        <activity
            android:name=".main.MainActivity"/>
        <activity
            android:name=".telas.TelaTrabalhos">
        </activity>
    </application>

</manifest>